{% extends 'partials/base.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">-->
<!--<script src="https://use.fontawesome.com/58237cc8a6.js"></script>-->
{% load static %}


{% block title %} Contact Us{% endblock %}
{% block content %}
<div class="container">
    <style>
        #image1 {
                max-width: 100%;
                height: auto;
                }

<!--        body {-->
<!--          background: url({% static 'images/Iot-Logo.jpg' %});-->
<!--          -->
<!--        }-->


<!--        body{-->
<!--             background: url({% static 'images/Iot-Logo.png' %}) 50% 0 no-repeat fixed;-->
<!--             color: white;-->
<!--             height: 650px;-->
<!--             padding: 100px 0 0 0;-->
<!--            }-->
    </style>

    <div class="col-md-10 offset-md-1">
<!--    <img id="image1"src="{% static 'images/Iot-Logo.jpg' %}" alt="IoT Logo">-->
    </div>



            <div class="col-xl-8 offset-xl-2 py-5">
                <h1>Contact Us</h1>
<!--                <p class="lead">Contact-us Form.</p>-->

                <form id="contact-form" action="{% url 'send_email' %}" role="form">
                    {% csrf_token %}
                    <div class="">
                        {% if messages %}
                             {% for message in messages %}
                            <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                            {{ message }}
                           </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Name *</label>
                                    <input id="form_name" type="text" name="name" class="form-control"
                                        placeholder="Please enter your name *" required="required"
                                        data-error="Name is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control"
                                        placeholder="Please enter your email *" required="required"
                                        data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" class="form-control"
                                        placeholder="Message for NEU Covid Team *" rows="4" required="required"
                                        data-error="Please, leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-send" value="Send message">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>


<div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="text-center">

                <h3><em style="color:green">Address </em> <br></h3>
                <h3 style="color:brown">International Research Center for AI and IOT <br></h3>
                <h3>Near East University <br> </h3>
                <h5>Near East Boulevard, ZIP: 99138 Nicosia / TRNC <br>
                Mersin 10 - TURKEY<br>
                    <a href="http://iot.neu.edu.tr/" target="_blank" >Click to visit Research Center website</a>
                </h5>

                Phone Number: +90 (392) 223 64 64, +90 (392) 223 64 61

                Email: ai.iot@neu.edu.tr
                        </div>
                </div>

            </div>





    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
<!--    <img id="image1"src="{% static 'images/Iot-Logo.jpg' %}" alt="IoT Logo">-->
<!--    <img id=""src="{% static 'images/covid.jpg' %}" alt="Covid Logo">-->
            {{ m|safe }}
        <br>
         <br>
        </div>

    </div>
</div>





{% endblock %}