{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %} Send Mail {% endblock %}
{% block content %}
<style>
    .container2 {
        border: 1px;
        border-color: black;
        background-color: white;
        width: 80%;
        justify-content: center;
        border-style: solid;
        padding: 100px;
        margin: auto;

    }

    .inner {
        background-color: rgb(157, 157, 179);
        border: 1px;
        border-color: black;
        border-style: solid;
        padding: 20px;


    }

    a {
        color: rgb(8, 8, 8);
    }

    hr {
        width: 100px;
        border-color: black;
        height: 5px;
        margin-top:5px;
        margin-left:0;

</style>



<div class="container2">
<br>

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <h1>Messages</h1>
    <div class="inner">
        {% for a in mail %}
        <div>

            <h2><a href="{{a.get_absolute_url}}">{{a.subject}}</a></h1>
            {% if a.is_read == True %}
            <h2><label class="badge badge-warning"> {{a.content|truncatechars:20}} </a></label></h5>
            <hr>
            {% else %}
            <h2>{{a.content|truncatechars:20}}</h2>
            <hr>
            {% endif %}
        </div>
            {% endfor %}		

    </div>
</div>


{% endblock %}